$accent_logo: rgba(85, 85, 85, 1);
$accent: rgba(124, 197, 118, 1);
$dark: rgba(34, 34, 34, 1);
$text: rgba(119, 119, 119, 1);
$light: rgba(255, 255, 255, 1);
$light_alternate: rgba(249, 249, 249, 1);

$twitter: rgba(0, 172, 237, 1);
$facebook: rgba(59, 89, 152, 1);
$pinterest: rgba(203, 32, 40, 1);
$gplus: rgba(218, 39, 19, 1);
